//COLORS
$black: #363636;
$white: #F8F9F8;
$color-1: #8f7036;
$color-2: #324b72;
$fb: #3b5996;
$ws: #075e54;
$tw: #1d9ff0;

//BREAKPOINTS
$xs: "(max-width: 340px)";
$sm: "(max-width: 767px)";
$md: "(max-width: 991px)";
$lg: "(max-width: 1199px)";
$xl: "(min-width: 1600px)";
$xs-abs: "(min-width: 0px) and (max-width: 339px)";
$sm-abs: "(min-width: 340px) and (max-width: 767px)";
$md-abs: "(min-width: 768px) and (max-width: 991px)";
$lg-abs: "(min-width: 992px) and (max-width: 1199px)";

//FONTS
$defaultFamily: 'Work Sans', sans-serif;

@mixin animate {
  transition: all 0.25s ease-in-out;
}

/* SCROLLBARS */
::-webkit-scrollbar {
  width: 8px;
  @include animate;
}
::-webkit-scrollbar-track {
  background: $white;
  @include animate;
}
.scrollable-content::-webkit-scrollbar * {
  background: $white;
}
::-webkit-scrollbar-thumb {
  background: lighten(black, 10%);
  @include animate;
}